.logreg
  .logreg-page
    %h3
      Edit #{resource_name.to_s.humanize}
    %hr/
    = simple_form_for(resource,
        as: resource_name,
        url: registration_path(resource_name)) do |f|
      %fieldset
        .registrationFormLeft
          = f.input :email, autofocus: true
          = f.input :username
          = f.input :email_visible,
            inline_label: 'Allow other persons to view my email',
            label: false
          = f.input :twitter
          = f.input :github
        .registrationFormRight
          = f.input :street
          = f.input :city
          = f.input :postal_code
          %i= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")
          = f.input :password
          = f.input :password_confirmation
      = f.button :submit, "Update"
