= simple_form_for @job do |f|
  %fieldset
    .jobFormLeft
      = f.input :post_name
      = f.input :company_name
      = f.input :email
      = f.input :website
    .jobFormRight
      = f.input :city
      = f.input :street
      = f.input :postal_code
  = f.input :description, as: :markdown, label_html: { for: 'wmd-input' }
  = f.button :submit, "Submit"
