.well
  = link_to "Add a new job", new_job_path, class: "btn"
- @jobs.each do |job|
  .well
    %p= "Job name : " + job.post_name
    %p= "Company name : " + job.company_name
    %p= "City : " + job.city
    %p= "Description : " + raw(truncate(sanitize(job.description), length: 200))
    %p= "Creation date : " + job.created_at.strftime("%Y-%m-%d")
    = link_to "Read more...", job
