.well
  %h1= @job.post_name
  %p= "Company name : " + @job.company_name
  %p= "Address : #{@job.street}, #{@job.postal_code}, #{@job.city}"
  - if @job.website
    %p= "Website : " + link_to(@job.website)
  %p= "Description : " + @job.description
  %p= "Creation date : " + @job.created_at.strftime("%Y-%m-%d")
