.well
  %p= "Event name : " + event.title
  %p= "Date : " + event.date.strftime("%Y-%m-%d")
  %p= "City : " + event.city
  %p= raw("Description : " + markdown(excerpt(event.description)))
  = link_to "Read more...", event
