.well
  = link_to "Add a new event", new_event_path, class: "btn"
- @events.each do |event|
  .well
    %p= "Event name : " + event.title
    %p= "Date : " + event.date.strftime("%Y-%m-%d")
    %p= "City : " + event.city
    %p= "Description : " + raw(truncate(sanitize(event.description), length: 200))
    = link_to "Read more...", event
