.logreg
  .signin-page
    %h3= t('.sign_in', :default => "Sign in")
    %hr/
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me,
            inline_label: t('.remember_me'),
            as: :boolean,
            label: false
      = f.button :submit, "Sign in"
    = render "devise/shared/links"
